<h1>
  {{title}}
</h1>
<h2>
  My name is {{name}} {{surname}}
</h2>
<h3> Please insert the password: </h3>
<form>
  <input name = "firstInserted" type = "password" #box1 />
<h3> Please confirm the password: </h3>
  <input name = "secondInserted" type = "password"  (keyup)= "checkPSW(box1.value, box2.value)" #box2   />
</form>
<br />

<div [ngSwitch]="notMatches">
  
  <div  *ngSwitchCase="true">
      <b style="color: red;"> Passwords doesn't matches! </b>
  </div>

  <div *ngSwitchCase="false">
    <b style="color:green;"> OK! </b>
    <br />

    <button *ngIf="box2.value != ''" > Proceed > </button>
  </div>

  <!--  caso div vuoto -->
  <div *ngSwitchDefault ></div>
</div>
